<!-- Style for landing view -->
<link rel="stylesheet" href="styles/landing.css">

<section id="first-page">
	<header class="header-main">
		<h2 id="brand-name" class="primary-font large primary-text-color bold">Euphony</h2>
		<nav class="site-navigation">
			<ul>
				<a href="#">
					<li>
						<button class="primary-font small white-text">Read</button>
					</li>
				</a>
				<a href="#write">
					<li>
						<button class="primary-font small white-text">Write</button>
					</li>
				</a>		
			</ul>
		</nav>
	</header>

	<section id="product-synopsis" class="text-center">
		<h1 id="tagline" class="primary-font x-large primary-text-color bold">Read. Write. Collaborate.</h1>
		<p id="tagline-debrief" class="secondary-font heading secondary-text-color">
			Euphony allows poets to produce and edit literary work together.
		</p>
	</section>

	<section id="call-to-action" class="text-center">
		<a>
			<button id="start-writing">
				<i class="fa fa-pencil large primary-text-color"></i>
			</button>
			<h2 class="primary-font heading primary-text-color">Start Writing</h2>
		</a>
	</section>

	<footer class="text-center">
		<a href="#second-page">
			<button class="next-page large text-center">
				<i class="fa fa-angle-down"></i>
			</button>
		</a>
	</footer>
</section>

<section id="second-page">
	<h1 class="primary-font larger text-center bold primary-text-color">Better Than Word.</h1>
	<section id="explain-concept">
		<div class="text-center">
			<button class="explain-icon">
				<i class="fa fa-pencil-square-o large primary-text-color"></i>
			</button>
			<p class="primary-font smedium secondary-text-color">
				Wrtie literature using our rich text editor.
			</p>
		</div>
		<div class="text-center">
			<button class="explain-icon">
				<i class="fa fa-book large primary-text-color"></i>
			</button>
			<p class="primary-font smedium secondary-text-color">
				Read and comment on other writer's works.
			</p>
		</div>
		<div class="text-center">
			<button class="explain-icon">
				<i class="fa fa-users large primary-text-color"></i>
			</button>
			<p class="primary-font smedium secondary-text-color">
				Collaborate on text in real-time.
			</p>
		</div>
	</section>
</section>